In [1]:
# import libaries

# import pandas and numpy for data manipulation and exploratory data analysis (set up for complete view on data)
import pandas as pd
pd.set_option('max_columns', 151)
pd.set_option('display.max_rows', None)
import numpy as np

# importing matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns

### FluView Data by state from 2010 to 2019 per week  
Influenza-Like Illness (ILI) Activity Level Indicator

In [2]:
# when import, try ignore first row

ilinet = pd.read_csv('data/ILINet.csv')
ilinet.head(5)

                                                                                                                                               PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
REGION TYPE REGION   YEAR WEEK % WEIGHTED ILI %UNWEIGHTED ILI AGE 0-4 AGE 25-49 AGE 25-64 AGE 5-24 AGE 50-64 AGE 65 ILITOTAL NUM. OF PROVIDERS                                     TOTAL PATIENTS
States      Alabama  2010 40   X              2.13477         X       X         X         X        X         X      249      35                                                             11664
            Alaska   2010 40   X              0.875146        X       X         X         X        X         X      15       7                                                               1714
            Arizona  2010 40   X              0.674721        X       X         X         X        X         X      172      49                                                             25492
            Arkansas 2010 40   X              0.696056        X       X         X         X        X         X      18       15                                                              2586

### Influenca by state and type from week 40 in 2015 - week 48 in 2019

clinical_labs = pd.read_csv('data/WHO_NREVSS_Clinical_Labs.csv')
clinical_labs.head(5)

In [3]:
ilinet.shape

(25669, 1)

In [4]:
ilinet.reset_index(inplace=True)

In [5]:
ilinet.head(5)

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,level_11,level_12,level_13,PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
0,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
1,States,Alabama,2010,40,X,2.13477,X,X,X,X,X,X,249,35,11664
2,States,Alaska,2010,40,X,0.875146,X,X,X,X,X,X,15,7,1714
3,States,Arizona,2010,40,X,0.674721,X,X,X,X,X,X,172,49,25492
4,States,Arkansas,2010,40,X,0.696056,X,X,X,X,X,X,18,15,2586

In [6]:
ilinet.columns = ilinet.iloc[0]

In [7]:
ilinet = ilinet.drop(ilinet.index[0])

In [8]:
ilinet.head(5)

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
1,States,Alabama,2010,40,X,2.13477,X,X,X,X,X,X,249,35,11664
2,States,Alaska,2010,40,X,0.875146,X,X,X,X,X,X,15,7,1714
3,States,Arizona,2010,40,X,0.674721,X,X,X,X,X,X,172,49,25492
4,States,Arkansas,2010,40,X,0.696056,X,X,X,X,X,X,18,15,2586
5,States,California,2010,40,X,1.95412,X,X,X,X,X,X,632,112,32342

In [9]:
missing_val = ilinet.isnull().sum()
print(missing_val)

0
REGION TYPE          0
REGION               0
YEAR                 0
WEEK                 0
% WEIGHTED ILI       0
%UNWEIGHTED ILI      0
AGE 0-4              0
AGE 25-49            0
AGE 25-64            0
AGE 5-24             0
AGE 50-64            0
AGE 65               0
ILITOTAL             0
NUM. OF PROVIDERS    0
TOTAL PATIENTS       0
dtype: int64

In [10]:
to_drop = ['REGION TYPE','% WEIGHTED ILI','AGE 0-4','AGE 25-49','AGE 25-64','AGE 5-24','AGE 50-64','AGE 65']       
ilinet.drop(columns=to_drop,inplace=True,axis=1)

In [20]:
ilinet.head(5)

,REGION,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
1,Alabama,2010,40,2.13477,249,35,11664
2,Alaska,2010,40,0.875146,15,7,1714
3,Arizona,2010,40,0.674721,172,49,25492
4,Arkansas,2010,40,0.696056,18,15,2586
5,California,2010,40,1.95412,632,112,32342
6,Colorado,2010,40,0.660684,134,14,20282
7,Connecticut,2010,40,0.0783085,3,12,3831
8,Delaware,2010,40,0.100125,4,13,3995
9,District of Columbia,2010,40,2.80877,73,4,2599
10,Florida,2010,40,X,X,X,X
11,Georgia,2010,40,1.6049,647,62,40314
12,Hawaii,2010,40,1.02934,20,18,1943
13,Idaho,2010,40,0.414938,19,12,4579
14,Illinois,2010,40,1.28205,505,74,39390
15,Indiana,2010,40,0.518962,65,44,12525
16,Iowa,2010,40,0.563063,10,6,1776
17,Kansas,2010,40,0.442227,39,40,8819
18,Kentucky,2010,40,0.142932,19,14,13293
19,Louisiana,2010,40,2.28108,391,41,17141
20,Maine,2010,40,0.357724,22,30,6150

In [12]:
ilinet.tail(5)

,REGION,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
25664,Wyoming,2019,49,2.24676,59,13,2626
25665,Commonwealth of the Northern Mariana Islands,2019,49,X,X,X,X
25666,Puerto Rico,2019,49,7.05638,204,7,2891
25667,Virgin Islands,2019,49,1.02639,7,2,682
25668,New York City,2019,49,3.43095,3292,68,95950

In [17]:
ilinet['REGION'].unique()

In [23]:
ilinet = ilinet.set_index('REGION')

In [25]:
excl_states = ['New York City', 'Virgin Islands', 'Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'District of Columbia']

In [31]:
# states to exclude = ['New York City', 'Virgin Islands', 'Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'District of Columbia']
ilinet = ilinet[(ilinet.index != 'New York City') | (ilinet.index != 'Virgin Islands') | (ilinet.index != 'Puerto Rico') | (ilinet.index != 'Commonwealth of the Northern Mariana Islands') | (ilinet.index != 'District of Columbia')]

In [32]:
ilinet.head(5)

,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
REGION,,,,,,
Alabama,2010,40,2.13477,249,35,11664
Alaska,2010,40,0.875146,15,7,1714
Arizona,2010,40,0.674721,172,49,25492
Arkansas,2010,40,0.696056,18,15,2586
California,2010,40,1.95412,632,112,32342

In [33]:
ilinet.reset_index(level=0, inplace=True)

In [37]:
ilinet = ilinet.rename(columns = {'REGION': 'STATE'})

In [38]:
ilinet.head(5)

,STATE,YEAR,WEEK,%UNWEIGHTED ILI,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,Alabama,2010,40,2.13477,249,35,11664
1,Alaska,2010,40,0.875146,15,7,1714
2,Arizona,2010,40,0.674721,172,49,25492
3,Arkansas,2010,40,0.696056,18,15,2586
4,California,2010,40,1.95412,632,112,32342

flu_week = ilinet.to_csv('data/flu_week.csv', index=False)